.demo-pix { 
    display: block;
    margin: 3em auto;
}

.code { 
    margin: 3em auto;
    max-width: 40em;
}

.code ul {
    background-color: #AAA;
    margin: 0;
    padding: .5em;
    box-shadow: 2px 2px 2px #777;
}

.code li { 
    list-style: none;
    font-family: monospace;
}

.code .indent1 { margin-left: 3em }
.code .indent2 { margin-left: 6em}

.tool { font-family: monospace }

.caption { 
    text-align: center;
    margin: .2em 0 1em 0;
    font-style: italic;
}

#divify-form li {
    list-style: none;
    line-height: 1.5em;
}

#divify-file-input { width: 25em }

.input-label {
    display: inline-block;
    width: 6em;
}

.input-value {
    display: inline-block;
}

.popup {
    position: fixed;
    left: 30%;
    top: 20%;
    width: 40%;
    margin: 0 auto;
    border: solid 2px black;
    border-radius: 10px;
    background: white;
    padding: 1em;
    text-align: center;
}

.popup textarea { 
    width: 100%;
    height: 300px;
}

.popup > * {
    margin-top: 0;
    margin-bottom: .5em;
}