#canvas {
    margin: 0 5em;
    display: inline-block;
    vertical-align: top;
}

#divified {
    margin: 0 5em;
    display: inline-block;
    vertical-align: top;
}

.clear { clear: both }

.p {
    float: left;
    width: 1px;
    height: 1px;
}
    